/* Home.css */
.home {
    background-color: #24292e;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 0; /* Reset padding */
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #24292e; /* GitHub's header background color */
    color: #fff; /* Add margin to separate the header from content */
}

.github-logo {
    width: 150px; /* Increase the logo size as needed */
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links ul li {
    cursor: pointer;
    font-weight: bold;
}

.main-content {
    /* Add styles for your main content here */
    flex-grow: 1; /* Allow main content to grow and fill available space */
    padding-left: 20rem; /* Adjust padding for better spacing */
    background-color: #292828;
    border: 1px solid #e1e4e8;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

/* Home.css */
