/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will make the login container take up the entire viewport height */
  }
  
  .login-form {
    text-align: center; /* Center the form elements */
  }
  
  /* Add other styles as needed */
  /* Login.css */

.login-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-button button {
    background-color: #273f58;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Add hover effect */
    &:hover {
      background-color: #0056b3;
    }
  }